/* 
---------------------------------------------
	Master CSS
	by: John Ryan Acoba
    User Interface Designer  

    August 17, 2018
	Content update
	by: Mark Benson Opeña
	Front-end Web Developer
	User Experience Design team
---------------------------------------------
*/


/* 
------------------------------
Reset
------------------------------
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	}
	
body                  {line-height: 1;}
ol, ul                {list-style: none; padding-left: 30px; list-style-type: disc;}
blockquote, q         {quotes: none;}
blockquote:before, 
blockquote:after,
q:before, 
q:after               {content: ''; content: none;}
:focus                {outline: 0;} 
ins                   {text-decoration: none;} 
del                   {text-decoration: line-through;}
table                 {border-collapse: collapse; border-spacing: 0;} 


/* 
------------------------------
Global
------------------------------
*/	

* {margin: 0; padding: 0;}

html    {background: #030303;}
body    {background: #030303; font: normal 0.9em/2.0em Tahoma, Arial, Verdana, "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif; color: #fff; margin: 0; padding: 0 0 30px;}

.clear    {clear: both;}
	
	
/* 
------------------------------
Left Navigation
------------------------------
*/	

.left_navigation                  {width: 35% !important; float: left;}
.left_navigation ul               {margin: 0; padding: 0;}
.left_navigation ul li            {display: block; clear: both; list-style-type: none; margin: 0; padding: 10px 0;}
.left_navigation ul li a          {background: transparent url(../images/sprites.png) 0 8px no-repeat; font-size: 110%; color: #ffeaa9; text-decoration: none; float: left; text-indent: 22px;}
.left_navigation ul li a:hover    {color: #fd9bdc; text-decoration: underline;}
.left_navigation ul li.active > a   {color: #fd9bdc; text-decoration: none;}
ul.second-level { padding-left: 15px; font-size: 13.5px; }


/* 
------------------------------
Main Content
------------------------------
*/	

.homepage_wrapper    {background: transparent url(../images/sprites.png) -1000px -100px no-repeat; width: 980px !important; min-height: 837px !important; margin: 0 auto !important; padding: 0 10px; display: block; clear: both;overflow: hidden;}
.homepage_wrapper span.text_branding > blockquote   {background: transparent; width: 100%; height: 350px; text-indent: -999em; float: left;}

.mainpage_wrapper    {background: transparent url(../images/sprites.png) 0 -100px no-repeat; width: 980px !important; min-height: 837px !important; margin: 0 auto !important; padding: 0 10px; display: block; clear: both;}

.moonpage_wrapper    {background: #6773b6 url(../images/sprites.png) -1990px -100px no-repeat; width: 980px !important; min-height: 837px !important;  margin: 0 auto !important; padding: 0 10px; display: block; clear: both; overflow: hidden;}

.lunarpage_wrapper    {background: transparent url(../images/sprites.png) -2960px -100px no-repeat; width: 980px !important; min-height: 837px !important; margin: 0 auto !important; padding: 0 10px; display: block; clear: both;}

.moonpage_nightbynight_wrapper    {background: transparent url(../images/sprites.png) -3950px -100px no-repeat; width: 980px !important; min-height: 837px !important; margin: 0 auto !important; padding: 0 10px; display: block; clear: both;}

.themoon_content_container    {width: 95% !important; height: auto !important; min-height: 550px !important; float: left; margin: 0; padding: 0;}
.themoon_content_container .thumbnail_container img    {border: 5px solid #ccc;}
.themoon_content_container .map      {display: block; position: relative; padding: 0;}
.themoon_content_container canvas    {position: absolute; left: 0; top: 0; padding: 0; border: none; opacity: 1;}
.themoon_content_container > h1 {text-indent: -999em; float: left}

.leftnavigation   {float: left; width: 49%; text-align: left; margin: 0; padding: 10px 0;}
.rightnavigation   {float: left; width: 49%; text-align: right; margin: 0; padding: 10px 0;}
.leftnavigation a,
.rightnavigation a  {font-size: 130%;}
.leftnavigation a:hover,
.rightnavigation a:hover    {text-decoration: none;}

.page_branding                       {margin: 0; padding: 15px 0; display: block; clear: both; overflow: hidden;}
.page_branding span.cup_block a      {background: transparent url(../images/sprites.png) -1598px 0 no-repeat; width: 175px; height: 50px; text-indent: -999em; float: left;}
.page_branding span.cup_block img    {display: none;}
.page_branding h1 a,
.page_branding > blockquote > a      {background: transparent; width: 185px; height: 50px; margin: 0 0 0 185px; padding: 0; text-indent: -999em; float: left;}
.page_branding .back_link            {margin: 10px 20px 0 0; padding: 0; float: right;}
.page_branding .back_link span       {background: url(../images/sprites.png) 0 -35px no-repeat; float: left; width: 16px; height: 22px; text-indent: -999em; margin: 0 5px 0 0;}
.page_branding .back_link a          {font-size: 115%; float: left; color: #ffeaa9; text-decoration: none;}
.page_branding .back_link a:hover    {color: #fd9bdc; text-decoration: underline;}

.content_container           {width: 65% !important; height: auto !important; min-height: 550px !important; float: right; margin: 0 0 30px; padding: 0 20px 0 36px; position: relative; box-sizing: border-box;}
.single_content_container    {width: 95% !important; height: auto !important; min-height: 550px !important; float: left; margin: 0 0 30px; padding: 0 24px; position: relative;}

.content_container h2,
.single_content_container h2            {display: block; clear: both; font-size: 130%; font-weight: normal; color: #fd9bdc; margin: 0; padding: 20px 0;}
.content_container h1,
.single_content_container h1           {font-size: 150%; font-weight: normal; color: #fd9bdc; margin: 0; padding: 5px 0;}
.content_container h3,
.single_content_container h3            {display: block; clear: both; font-size: 120%; font-weight: normal; color: #fd9bdc; margin: 0; padding: 20px 0 0;}
.content_container p,
.single_content_container p             {margin: 0; padding: 5px 0; letter-spacing: .6px; display: block; clear: both;}
.content_container blockquote,
.single_content_container blockquote    {font-size: 80%; margin: 0; padding: 25px 0 0 0; display: block; clear: both;}

.content_container a,
.single_content_container a          {color: #ffeaa9; text-decoration: none;}
.content_container a:hover,
.single_content_container a:hover    {color: #fd9bdc; text-decoration: underline;}
.content_container a.large-font,
.single_content_container a.large-font { font-size: 15px; font-weight: 700; }

.content_container .normal_list ul,
.single_content_container .normal_list ul       {margin: 0; padding: 0 25px;}
.content_container .normal_list ul li,
.single_content_container .normal_list ul li    {list-style-type: disc;}

.content_container table.list_container                         {border-left: 1px dotted #81365d; border-right: 1px dotted #81365d; border-collapse: collapse; width: 100%; margin: 20px 0; padding: 0;}
.single_content_container table.list_container                  {border-left: 1px dotted #81365d; border-right: 1px dotted #81365d; border-collapse: collapse; width: auto; margin: 20px 0; padding: 0;}
.content_container table.list_container tr:hover,
.single_content_container table.list_container tr:hover , table.list_container tbody.table-row:hover  {background: #35011c;}	
.content_container table.list_container td, 
.content_container table.list_container th,
.single_content_container table.list_container td, 
.single_content_container table.list_container th               {border-top: 1px dotted #81365d; border-bottom: 1px dotted #81365d; margin: 0; padding: 5px 10px; vertical-align: middle;}
.content_container table.list_container th[scope=col],
.single_content_container table.list_container th[scope=col]    {text-align: left; padding-left: 15px;}
.content_container table.list_container a,
.single_content_container table.list_container a                {color: #ffeaa9; text-decoration: none;}
.content_container table.list_container a:hover,
.single_content_container table.list_container a:hover          {color: #ffeaa9; text-decoration: underline;}
.content_container table.list_container th { text-align: left; }
/*table.list_container td[rowspan] { border-right: 1px dotted red; }*/

.single_content_container table.list_container .directions                     {position: relative; width: 155px; height: 165px;}
.single_content_container table.list_container .directions div.top             {position: absolute; top: 0; left: 75px;}
.single_content_container table.list_container .directions div.bottom          {position: absolute; bottom: 0; left: 75px;}
.single_content_container table.list_container .directions div.left            {position: absolute; top: 65px; left: 0;}
.single_content_container table.list_container .directions div.right           {position: absolute; top: 65px; right: 0;}
.single_content_container table.list_container .directions div.content_link    {position: absolute; top: 25px; left: 20px; border: 1px solid #fff; width: 110px; height: 110px; text-align: center; margin: 0; padding: 2px; line-height: 1.5em;}

.single_content_container table.datelist_container                  {border: 1px dotted #81365d; border-collapse: collapse; width: 95%; margin: 20px 0; padding: 0;}
.single_content_container table.datelist_container tr:hover         {background: #35011c;}	
.single_content_container table.datelist_container td               {border: 1px dotted #81365d; border-bottom: none; border-top: none; margin: 0; padding: 5px 10px; vertical-align: middle;}
.single_content_container table.datelist_container th               {border: 1px dotted #81365d; margin: 0; padding: 5px 10px; vertical-align: middle;}
.single_content_container table.datelist_container a                {color: #ffeaa9; text-decoration: none;}
.single_content_container table.datelist_container a:hover          {color: #ffeaa9; text-decoration: underline;}
.single_content_container table.datelist_container p span           {margin: 0; padding: 0 25px 0 0;}

.content_container .column_divider,
.single_content_container .column_divider    {width: 45%; float: left; margin: 0; padding: 0 10px 0 0;}

.content_container .icon_word    {background: transparent url(../images/sprites.png) -966px 6px no-repeat; width: 16px; height: 21px; float: left; margin: 0 3px 0 0;}
.content_container .icon_pdf    {background: transparent url(../images/sprites.png) -966px -25px no-repeat; width: 16px; height: 21px; float: left; margin: 0 3px 0 0;}
.content_container .icon_txt    {background: transparent url(../images/sprites.png) -966px -55px no-repeat; width: 16px; height: 21px; float: left; margin: 0 3px 0 0;}


.section-content {
	margin-bottom: 1rem;
}

.section-content h3 {
	font-style: italic;
}

figure {
	display: table;
	float: right;
	margin: auto 15px;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
	font-style: italic;
	line-height: 20px;
	margin-top: 5px;
}

/*** Image content layout ***/

.image-content {
	float: none;
	margin: 50px 0;
	width: 100%;
}

.image-content img {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.image-content figcaption {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	width: 44%;
	padding-left: 20px;
}

figcaption.full-width {
	width: auto;
	margin: 15px auto;
	padding-left: 0;
	text-align: left;
}

/*** Image - Full width ***/

.image-full-width {
	text-align: center;
}

.image-full-width img {
	width: 100%;
}

.image-wrap {
	float: right;
}

/*** Image - left position ***/

.image-left {
	float: left;
	margin-left: 0;
}

.mercury-elongations {
	width: auto;
}

/*** Table ***/

.year-links {
	text-align: center;
}

.calendar-table, .month-table {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}

.calendar-table .left-content {
	width: 15%;
}

.calendar-table .right-content {
	width: 85%;
}

.calendar-table tbody {
	margin-bottom: 15px;
}

.calendar-table tbody tr td:first-child {
	font-weight: 700;
}

.calendar-table tbody tr.separator {
	height: 10px;
}

.month-table tbody{
	border-top: 50px transparent solid;
}

.month-table .col1{
	width: 8%;
}

.month-table .col2{
	width: 10%;
}

.month-table .col3{
	width: 82%;
}

.month-table .table-anecdote{
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	padding-bottom: 12px;
	line-height: 22px;
}

.month-table th{
	text-align: left;
}

/*** Galilean table ***/

.galilean{
	width: 100% !important;
}

.galilean td{
	text-align: center;
}

.galilean tr td:nth-child(3), .galilean tr th:nth-child(3){
	text-align: right;
}

.galilean tr td:nth-child(5), .galilean tr th:nth-child(5){
	text-align: left;
}

/*** What's up tonight ***/

.whatsuptonight{
	position: relative;
	width: 100%;
	margin: 25px 0px;
}

.whatsuptonight td{
	font-size: 16px;
	line-height: 50px;
}

/*** Miscellaneous ***/

.bold {
	font-weight: 700;
}

.top-space {
	margin-top: 30px;
}

.disclaimer {
	width: 65%;
    line-height: 18px;
    margin: 0 0 0 auto;
    position: absolute;
    top: 19px;
    right: 20px;
    text-align: right;
    font-size: 10px;
}

.p-title {
	font-size: 20px;
}

.navigation-links {
    margin-top: 20px;
}

.navigation-links ul {
    list-style-type: none;
}

.navigation-links a {
	font-size: 16px;
}

.unordered-lists { list-style-type: none; }

.unordered-lists li {
	margin-bottom: 10px;
}

.no-pad {
	padding: 0;
}

/*
------------------------------
Popup Content
------------------------------
*/

.popup_container                {font-size: 80%; color: #494949; line-height: normal; width: auto; overflow: hidden; width: 900px !important;}
.popup_container h4             {font-size: 130%; font-weight: bold;}
.popup_container h5             {font-size: 125%; font-weight: normal;}
.popup_container p              {margin: 0; padding: 10px 0;}
.popup_container img            {float: right;}
.popup_container .popup_info    {float: left; width: 24%;}

#facebox .b     {background:url(../images/b.png);}
#facebox .tl    {background:url(../images/tl.png);}
#facebox .tr    {background:url(../images/tr.png);}
#facebox .bl    {background:url(../images/bl.png);}
#facebox .br    {background:url(../images/br.png);}

#facebox    {position: absolute; width: 100%; top: 0; left: 0; z-index: 100; text-align: left;}
#facebox .popup     {position: relative;}
#facebox table      {margin: auto; border-collapse: collapse;}
#facebox .body      {padding: 10px; background: #fff; width: auto;}
#facebox .loading   {text-align: center;}
#facebox .image     {text-align: center;}
#facebox img        {border: 0;}
#facebox .footer    {border-top: 1px solid #ddd; padding-top: 5px; margin-top: 10px; text-align: right;}
#facebox .tl, 
#facebox .tr, 
#facebox .bl, 
#facebox .br    {height: 10px; width: 10px; overflow: hidden; padding: 0;}


/* 
------------------------------
Footer Content
------------------------------
*/	

.footer_container                    {display: block; clear: both; margin: 0; padding: 50px 0;}
.footer_container ul                 {font-size: 80%; float: left;}
.footer_container ul li              {display: inline; list-style-type: none;}
.footer_container ul li a            {color: #ffeaa9; text-decoration: none;}
.footer_container ul li a:hover      {color: #fd9bdc; text-decoration: underline;}
.footer_container img                {display: none;}
.footer_container span.cup_shield    {background: transparent url(../images/sprites.png) -1783px 0 no-repeat; width: 197px; height: 42px; float: right;}







/* 
--------------------------------------
corporateHomebar
Andrew Maison, Feb 2011
--------------------------------------
*/

#corporateHomebar { display: none !important; margin: 0; padding: 5px 0 4px 0; background: #fff; width: 100%; line-height: normal !important; font-weight: 700 !important; font-family: Verdana, Arial, Helvetica, sans-serif !important;
font-size: 11px !important; /* note: you may need to modify the font size as it will inherit any size specified on your website's <body> element */
}
#corporateHomebar a:link, #corporateHomebar a:visited  { color: #666 !important; font-weight: 700 !important; text-decoration: none !important;}
#corporateHomebar a:hover, #corporateHomebar a:active  { color: #b41ca2 !important; font-weight: 700 !important; text-decoration: underline !important;}

#corporateHomebar .clear { margin: 0; padding: 0;  clear: both; height: 0; overflow: hidden; }


/* 
--------------------------------------
corporateHomebar portal homepage link
--------------------------------------
*/

#corporateHomebarPortalLink {float: left;} 
#corporateHomebarPortalLink a:link, #corporateHomebarPortalLink a:visited { padding: 0 0 0 25px; background: url(../images/corporateHomeIcon.gif) 8px 0 no-repeat; display: block;}
#corporateHomebarPortalLink a:hover, #corporateHomebarPortalLink a:active { background: url(../images/corporateHomeIconHover.gif) 8px 0 no-repeat; display: block;}


/* 
--------------------------------------
utilities
--------------------------------------
*/

#corporateHomebarTools {float: right; }

#corporateHomebarTools #utilities { float: left; } 
#corporateHomebarTools #utilities ul, #corporateHomebarTools #utilities ul li {float: left; list-style: none; margin: 0; padding: 0;}

#corporateHomebarTools #utilities ul li { margin: 0; padding: 0 7px; border-right: 1px solid #ccc; }
#corporateHomebarTools #utilities ul li a:link, #corporateHomebarTools #utilities  ul li a:visited { display: block; float: left;}
#corporateHomebarTools #utilities ul li a:hover, #corporateHomebarTools #utilities  ul li a:active { }

#corporateHomebarTools #utilities  ul li.utilityMyBasket a:link, #corporateHomebarTools #utilities  ul li.utilityMyBasket a:visited {
background: url(../images/corporateBasketIcon.gif) no-repeat 100% 50% ; padding-right: 24px;}
#corporateHomebarTools #utilities  ul li.utilityMyBasket a:hover, #corporateHomebarTools #utilities  ul li.utilityMyBasket a:active {
background: url(../images/corporateBasketIconHover.gif) no-repeat 100% 50%; padding-right: 24px;}


/* 
--------------------------------------
corporateHomebar - country select
--------------------------------------
*/

#corporateHomebarTools #countrySelect {
margin: 0 10px 0 5px; 
padding: 0px 0 0px 5px; 
float: left;
}

#corporateHomebarTools #countrySelect ul { list-style: none; margin: 0; padding: 0;}
#corporateHomebarTools #countrySelect ul li  { margin: 0 0 0 3px; display: inline; }
#corporateHomebarTools #countrySelect ul li a:link,  #corporateHomebarTools #countrySelect ul li a:visited { padding: 0 0 0 3px;  color: #666;}