<!-- corporate homebar -->
<div id="corporateHomebar">
  <div id="corporateHomebarPortalLink"> <a href="http://www.cambridge.org" title="Link to Cambridge University Press">Cambridge University Press</a> </div>

  <!-- end of optional toolBox and countrySelect elements -->
  <div class="clear"></div>
</div>

    <!-- Mainpage start -->
    <div class="mainpage_wrapper">

        <!-- Page branding start -->
        <div class="page_branding">

            <span class="cup_block"><a href="http://www.cambridge.org/academic?utm_source=microsite&utm_medium=link&utm_campaign=turnleft " title="Cambridge University Press"><img src="https://s3-eu-west-1.amazonaws.com/turnleftorion/public/images/cup_block.jpg" width="175" height="50" border="0" alt="Cambridge University Press" /></a></span>
            <blockquote><a href="../../../default" title="Turn Left At Orion">Turn Left At Orion</a></blockquote>

            <!-- Back link start -->
            <div class="back_link"><span>Click the link to get&nbsp;</span><a href="../../../seasonal_skies_april-june" title="Seasonal skies: January–March">Back to Seasonal skies: April-June</a></div>
            <!-- Back link end -->

        </div>
        <!-- Page branding end -->

        <!-- Page content start -->
        <div class="single_content_container">

            <h2>In Virgo: the Virgo galaxy cluster, Western Virgo Galaxies, Markarian's Chain to M98</h2><!-- Titlepage -->

            <h2>Turn Left at Orion - Consolmagno &amp; Davis, Page 104108 (4th ed.)</h2>

            <!-- Table list container start -->
            <table class="list_container"  >
              <tr>
                <td>Alternative naked-eye views</td>
                <td>
                    <!-- Directions container start -->
                    <div class="directions">
                        <div class="top">S</div>
                        <div class="right">E</div>
                        <div class="content_link"><a href="popup/in_virgo_the_virgo_galaxy_cluster_western_virgo_galaxies_markarians_chain_to_m98/southern_hemisphere_naked-eye_view" rel="facebox[.thickstyle]">Southern hemisphere naked-eye view</a></div>
                        <div class="bottom">N</div>
                        <div class="left">W</div>
                    </div>
                    <!-- Directions container end -->
                </td>
                <td colspan="2">
                    <div class="normal_list">
                        <ul>
                            <li>Classic example of a galaxy cluster</li>
                            <li>More than 20 galaxies (in a Dob)</li>
                            <li>See many different galaxy types</li>
                        </ul>
                    </div>
                </td>
              </tr>
              <tr>
                <td>Alternative finderscope views</td>
                <td>
                    <!-- Directions container start -->
                    <div class="directions">
                        <div class="top">N</div>
                        <div class="right">E</div>
                        <div class="content_link"><a href="popup/in_virgo_the_virgo_galaxy_cluster_western_virgo_galaxies_markarians_chain_to_m98/star_diagonal_finderscope_view_northern-hemisphere" rel="facebox[.thickstyle]">Star Diagonal Finderscope View (Northern Hemisphere)</a></div>
                        <div class="bottom">S</div>
                        <div class="left">W</div>
                    </div>
                    <!-- Directions container end -->
                </td>
                <td>
                    <!-- Directions container start -->
                    <div class="directions">
                        <div class="top">S</div>
                        <div class="right">W</div>
                        <div class="content_link"><a href="popup/in_virgo_the_virgo_galaxy_cluster_western_virgo_galaxies_markarians_chain_to_m98/star_diagonal_finderscope_view_southern-hemisphere" rel="facebox[.thickstyle]">Star Diagonal Finderscope View (Southern Hemisphere)</a></div>
                        <div class="bottom">N</div>
                        <div class="left">E</div>
                    </div>
                    <!-- Directions container end -->
                </td>
                <td>
                    <!-- Directions container start -->
              <div class="directions">
                        <div class="top">N</div>
                        <div class="right">E</div>
                        <div class="content_link"><a href="popup/in_virgo_the_virgo_galaxy_cluster_western_virgo_galaxies_markarians_chain_to_m98/binoculars_n_of_equator_direct_finder_s_of_equator" rel="facebox[.thickstyle]">Binoculars N. of equator; direct finder S. of equator</a></div>
                        <div class="bottom">S</div>
                        <div class="left">W</div>
                    </div>
                    <!-- Directions container end -->
                </td>
              </tr>
              <tr>
                <td>Alternative telescope views</td>
                <td>
                    <!-- Directions container start -->
                    <div class="directions">
                        <div class="top">N</div>
                        <div class="right">E</div>
                        <div class="content_link"><a href="popup/in_virgo_the_virgo_galaxy_cluster_western_virgo_galaxies_markarians_chain_to_m98/large_8_catadioptric_northern-hemisphere" rel="facebox[.thickstyle]">Large (8") Catadioptric (Northern hemisphere)</a></div>
                        <div class="bottom">S</div>
                        <div class="left">W</div>
                    </div>
                    <!-- Directions container end -->
                </td>
                <td>
                    <!-- Directions container start -->
                    <div class="directions">
                        <div class="top">S</div>
                        <div class="right">E</div>
                        <div class="content_link">No Small Newtonian View</div>
                        <div class="bottom">N</div>
                        <div class="left">W</div>
                    </div>
                    <!-- Directions container end -->
                </td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <!-- Table list container end -->

            <div class="column_divider">
                <p>Additional Links*:</p>
                <div class="normal_list">
                    <ul>
                        <li><a href="https://s3-eu-west-1.amazonaws.com/turnleftorion/public/images/thumbs/seasonal_skies/apr-jun/in_virgo_the_virgo_galaxy_cluster_western_virgo_galaxies_markarian's_chain_to_M98/VirgoGalaxies5invertedDob.jpg" target="_blank">Drawing of Western Virgo Galaxy Cluster in a Dob at low X (black sky)</a></li>
                        <li><a href="http://chandra.harvard.edu/photo/2008/m84/" target="_blank">Chandra composite image of M84</a></li>
                        <li><a href="http://www.messier.seds.org/m/m086.html" target="_blank">SEDS Messier Page for M86</a></li>
                        <li><a href="http://www.messier.seds.org/m/m084.html" target="_blank">SEDS Messier Page for M84</a></li>
                        <li><a href="http://www.messier.seds.org/m/m098.html" target="_blank">SEDS Messier Page for M98</a></li>
                        <li><a href="http://www.messier.seds.org/m/m099.html" target="_blank">SEDS Messier Page for M99</a></li>
                        <li><a href="http://spider.seds.org/ngc/ngc.cgi?4216" target="_blank">SEDS NGC Object Page for NGC 4216</a></li>
                    </ul>
                </div>
            </div>

            <div class="column_divider">
                <p><a href="http://www.cambridge.org/gb/knowledge/other_subject/item1803/?site_locale=en_GB" target="_blank">Cambridge Atlas</a> chart numbers:</p>
                <div class="normal_list">
                    <ul>
                        <li>Double Star &amp; Herschel Atlases: #16</li>
                        <li>Cambridge Star Atlas: #11</li>
                    </ul>
                </div>
            </div>

            <blockquote>*These links are provided for the convenience of the user and Cambridge University Press assumes no responsibility for its content or functionality.</blockquote>

        </div>
        <!-- Page content end -->



    </div>
    <!-- Mainpage end -->

    <!--<script src="../../../js/jquery-1.2.2.pack.js" type="text/javascript"></script>-->
    <script src="/packages/academic/js/turnleftorion/facebox.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
          $('a[rel*=facebox]').facebox()
        })
    </script>